.DS_Store
build/
DerivedData/

# Xcode user data
*.xcuserstate
xcuserdata/

# SwiftPM
.build/
Package.resolved

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/